html body {
  background-color: #fff;
  color: #fff;
}
.svgg {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.svgg1 {
  float: left;
  width: 600px;
  margin-top: 19%;
  margin-left: 2%;
}
.wave {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .svgg {
    display: none;
  }
  .wave {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
